.Base-Page {
  background-color: #010101;
  height: 100%;
  width: 100%;
  display: flex;
  font-size: calc(10px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
}

.Col-Flex{
  width: 100%;
}

html, body {
  margin:0;
  padding:0;
  }
  