.Header {
    padding: 10px;
    display:inline-block;
    flex-direction: column;
}
.HeaderLeft{
    color: #FAF9F6;
    padding: 20px;
    align-self: left;
    display:inline-block;
    float: left;
}

.HeaderRight{
    color: #FAF9F6;
    padding: 20px;
    align-self: right;
    display:inline-block;
    float: right;
}