.HeaderDiv {
    margin-bottom: 10px;
    overflow: hidden;
}

.HeaderLeft, .HeaderRight {
    color: #FAF9F6;
    font-size: 25px;
    border: 2px solid #FAF9F6;
    border-radius: 25px;
    border-spacing: 5px;
    padding: 7px;
    margin: 10px;
}
.HeaderLeft{
    float: left;
}

.HeaderRight{
    float: right;
}