.IntroDiv{
    text-align:center;
}

.ImageDiv{
    color: #fefefe;
    display: inline-block;
    margin: auto;
    width: fit-content;
}

.Headshot{
    border-radius: 50%;
    border: 5px solid #902bf5;
}